@charset "utf-8";

body{overflow-y:scroll;margin:0;padding:0;letter-spacing:-4px;font-size:0;line-height:0}
img{display:block;width:100%;height:auto;border:0;vertical-align:top}
ul,ol{padding:0;margin:0;list-style:none}
#wrap{width:360px;margin:0 auto}
.content{width:100%}
#footer{padding-top:20px}
.contact {width:100%;margin:0 auto;text-align:center}
.contact li{width:100%;display:inline-block;*display:inline;*zoom:1}
.blind{overflow:hidden;width:0;height:0;font-size:0;line-height:99em}

@media screen and (max-width:767px) {
	#wrap{min-width:320px;width:100%}
}