body {
    background-color: #fff;
}

.header {
    height: 755px;
    position: relative;
    background-image: url('https://www.greetingsisland.com/images/invitations/wedding/Garden%20Glory.jpg');
    filter: hue-rotate(400deg);
    filter: saturate(0.2);
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: center center;
}

.header>.top {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -105px;
    margin-top: -50px;
    width: 210px;
    height: 100px;
    text-align: center;
}

.header>.top>.name {
    font-size: 24px;
    font-weight: bold;
}

.header>.top>.name span {
    font-size: 18px;
}

.header>.top>.pos {
    font-size: 13px;
    letter-spacing: -1px;
    padding-top: 20px;
}